<!DOCTYPE html>
<html class="x-admin-sm">
    
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- vue	-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-router/2.7.0/vue-router.min.js"></script>
    <script type="text/javascript" src="./js/jquery-3.5.0.js"></script>

</head>
    <body>
        <div class="layui-fluid" id="app">
            <div class="layui-row">
                <form class="layui-form">
                  <div class="layui-form-item">
                      <label for="username" class="layui-form-label">
                          <span class="x-red">*</span>用户名
                      </label>
                      <div class="layui-input-inline">
                          <input v-model="username" type="text" id="username" name="username" required="" lay-verify="required"
                          autocomplete="off" class="layui-input">
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="phone" class="layui-form-label">
                          <span class="x-red">*</span>性别
                      </label>
                      <div class="layui-input-inline">
                          <select v-model="select_gender" name="gender">
                              <option v-for="item in gender" v-bind:value="item.gender_id" v-model="item.gender_id">{{item.name}}</option>
                          </select>
                          <!--<select v-model="select_gender" name="gender" lay-filter="required">
                              <option value="1">男</option>
                              <option value="0">女</option>
                          </select>-->
                          <!--                          <input type="text" id="gender" name="gender" required="" lay-verify="phone"-->
                          <!--                          autocomplete="off" class="layui-input">-->
                      </div>
<!--                      <div class="layui-form-mid layui-word-aux">-->
<!--                          <span class="x-red">*</span>将会成为您唯一的登入名-->
<!--                      </div>-->
                  </div>
                  <div class="layui-form-item">
                      <label for="L_email" class="layui-form-label">
                          <span class="x-red"></span>电话
                      </label>
                      <div class="layui-input-inline">
                          <input v-model="phone" type="text" id="phone" name="phone" required=""
                          autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          <span class="x-red"></span>
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label class="layui-form-label"><span class="x-red"></span>角色</label>
                      <div class="layui-input-inline">
                         <select v-model="select_role" name="role">
                           <option v-for="item in roles" v-bind:value="item.role_id" v-model="item.role_id">{{item.name}}</option>
                         </select>
<!--                          <input type="text" id="gender" name="gender" required="" lay-verify="phone"-->
<!--                          autocomplete="off" class="layui-input">-->
                      </div>
<!--                      <div class="layui-input-block">-->
<!--                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="超级管理员" checked="">-->
<!--                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="编辑人员">-->
<!--                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="宣传人员" checked="">-->
<!--                      </div>-->
                  </div>
                  <div class="layui-form-item">
                      <label class="layui-form-label">
                      </label>
                      <button v-on:click="editUser" class="layui-btn" lay-filter="edit" lay-submit="">
                          确&nbsp;&nbsp;&nbsp;&nbsp;认
                      </button>
                      <!-- lay-filter="add" lay-submit="" -->
                  </div>
              </form>
            </div>
        </div>
        <script>
        //    var layer = layui.layer;
        //var form = layui.form;
        //var laydate = layui.laydate;
        //var $ = jQuery = layui.$;
        //    laydate.render({
        //    elem: '#province' //指定元素
        //    });
        layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;
                //var laydate = layui.laydate;

                //laydate.render({
                //  elem: '#start' //指定元素
                //});
                //自定义验证规则
                //form.verify({
                //    nikename: function(value) {
                //        if (value.length < 5) {
                //            return '昵称至少得5个字符啊';
                //        }
                //    },
                //    pass: [/(.+){6,12}$/, '密码必须6到12位'],
                //    repass: function(value) {
                //        if ($('#L_pass').val() != $('#L_repass').val()) {
                //            return '两次密码不一致';
                //        }
                //    }
                //});

                //监听提交
                form.on('submit(edit)',
                function (data) {
                    if (!window.localStorage) {
                            alert("浏览器不支持localstorage");
                    } else {
                        var storage = window.localStorage;
                        var user = storage.getItem("user_item");
                        localStorage.removeItem("user_item");
                        //var user_id = storage.getItem("user_id");
                    }
                    var info = data.field;
                    var juser = JSON.parse(user);
                    juser.username = info.username;
                    juser.gender = info.gender;
                    juser.phone = info.phone;
                    console.log(user);
                    console.log(data);
                    console.log(info);
                    //delete info.role;
                    var userdata = JSON.stringify(juser);
                    console.log(userdata);
                    $.ajax({
                        type: "post",
                        url: "http://119.3.179.137:8080/admin/updateUserInfo",
                        dataType: "json",
                        contentType:'application/json;charset=UTF-8',
                        data: userdata,
                        success: function (responseTxt) {
                             console.log(responseTxt);
                            if (responseTxt.code == 1) {
                                console.log("编辑用户信息成功");
                                //layer.msg("提交成功");
                                //关闭当前frame
                                //xadmin.close();

                                // 可以对父窗口进行刷新
                                //xadmin.father_reload();
                            } else {
                                console.log("编辑用户信息失败");
                                //layer.msg("提交出错");
                            }
                        }
                    });
                    const params = new URLSearchParams();
                    params.append('user_id', juser.user_id);
                    params.append('role_id', info.role);
                    console.log(params);
                    axios
                      .post('http://119.3.179.137:8080/admin/setUserRole',
                            params,)
                      .then(
                          function (res) {
                              console.log(res);
                              if (res.data.code == 1) {
                                  console.log("编辑用户角色成功");
                                //layer.msg("编辑成功", { icon: 1 });
                                //关闭当前frame
                                //xadmin.close();

                                // 可以对父窗口进行刷新   
                                //xadmin.father_reload();
                              } else {
                                  console.log("编辑用户角色失败");
                              }
                          }
                       )
                      .catch(function (error) { // 请求失败处理
                        console.log(error);
                      });
                    //发异步，把数据提交给php
                    layer.alert("编辑成功", {
                        icon: 6
                    },
                    function() {
                        //关闭当前frame
                        //xadmin.close();

                        // 可以对父窗口进行刷新
                        //xadmin.father_reload();
                    });
                    return false;
                });

            });
        </script>
        <script>
        var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
</script>

        <script>
            var app = new Vue({
			      el: '#app',
			      data: {
			          username: "",
                      phone: "",
                      roles: [{ "role_id": "1","name": 'role1' }, { "role_id": "2","name": 'role2' }],
                      select_gender: "",
                      select_role: "",
                      gender: [{ "gender_id": "1","name": '男' }, { "gender_id": "0","name": '女' }],
                  },
                created() {
                    this.getParams();
                },
                  mounted: function () {
                    this.getMakerList();
                  },
                  methods: {
                        getMakerList: function (e) {
                            //var vm = this;
                        
                            //vm.$nextTick(function () {
                            //layui.use(['layer', 'form'], function(){
                            //var form = layui.form();
                            //    form.on('submit(edit)', function (data) {
                            //        console.log("get select");
                            //        console.log(data);
                            //        console.log(data.value);
                            //        //App.editUser(data.value);
                            //});             
                            ////form.render();
                            //});
                            //})
                        },
                      editUser: function () {
                            //const params = new URLSearchParams();
                            //params.append('user_id', this.user_id);
                            //params.append('password', this.password);
                            var n = {
                                'user_id': "111",
                                'username': this.username, 'gender': this.select_gender, 'phone': this.phone, 'role': this.select_role
                            };
                            //var data = JSON.stringify(n);
                            //var data =Qs.stringify(n);
                            console.log("vue");
                            console.log(n);
                            //console.log(params);
                            axios.post('http://119.3.179.137:8080/admin/updateUserInfo',
                                params,)
                            .then(
                                function (res) {
                                    console.log(res);
                                    if (res.data.code == 1) {
                                        //alert("编辑失败");
                                        console.log("编辑成功");
                                    }else{
                                        //alert("编辑失败");
                                        console.log("编辑失败");
                                    }
				    	          //vm.answer = _.capitalize(response.data.answer)
                                }
                            )
				            .catch(function (error) {
                                console.log(error);
				               alert("编辑用户失败！");
				              //vm.answer = 'Error! Could not reach the API. ' + error
				    	           })
                    },
                      async getParams() {
                          // 取到路由带过来的参数
                          console.log("接收参数");
                          if (!window.localStorage) {
                              alert("浏览器不支持localstorage");
                          } else {
                              var storage = window.localStorage;
                              var user = storage.getItem("user_item");
                              var roles = storage.getItem("roles");
                              //localStorage.removeItem("user_item");
                              var juser = JSON.parse(user);
                              var role_list = JSON.parse(roles);
                              console.log(juser);
                              console.log(role_list);
                              this.username = juser.username;
                              this.phone = juser.phone;
                              this.select_gender = juser.gender;
                              this.roles = role_list;
                              const param = new URLSearchParams();
                              param.append('user_id', juser.user_id);
                              console.log(param);
                              try {
                                  let ress = await axios
                                      .post('http://119.3.179.137:8080/admin/getUserRole',
                                      param)
                                  console.log(ress);
                                  if (ress.data.data.role == null) { this.select_role = ''; }
                                  else { this.select_role = ress.data.data.role.role_id; }
                                  this.select_gender = juser.gender;
                                  console.log(this.select_role);
                                  console.log(this.select_gender);
                                  setTimeout(function () {
                                      layui.form.render();//延迟重新渲染
                                   }, 10);
                                } catch (err) {
                                    console.log(err)
                                    alert('请求出错！')
                                }
                              //axios
                              //    .post('http://119.3.179.137:8080/admin/getUserRole',
                              //        param)
                              //    .then(
                              //        function (res) {
                              //            console.log('获取role');
                              //            console.log(res);
                              //            console.log(res.data.data.role);
                              //            if (res.data.code == 1) {
                              //                select_role_id = res.data.data.role.role_id;
                              //                //layui.use(['form'], function () {
                              //                //    layui.form.render();
                              //                //});
                              //                //setTimeout(function () {
                              //                //    layui.form.render();//延迟重新渲染
                              //                //}, 10);
                              //            } else {
                              //                console.log('获取role失败');
                              //            }
                              //        }
                              //    )
                              //    .catch(function (error) { // 请求失败处理
                              //        console.log(error);
                              //    });
                              
                              //const routerParams = this.$route.query.mallCode
                              //// 将数据放在当前组件的数据内
                              //this.mallInfo.searchMap.mallCode = routerParams;
                              //this.keyupMallName()

                              //axios
                              //    .post('http://119.3.179.137:8080/admin/getRoleList')
                              //    .then(
                              //        function (res) {
                              //            console.log(res);
                              //            console.log(res.data.data.role_list);
                              //            this.roles = res.data.data.role_list;
                              //            console.log(this.roles);
                              //            layui.use(['form'], function () {
                              //                    layui.form.render();
                              //                });
                              //            //setTimeout(function () {  
                              //            //  layui.use(['form', 'layer'],
                              //            //  function () {
                              //            //      $ = layui.jquery;
                              //            //      var form = layui.form,
                              //            //      layer = layui.layer;
                              //            //      form.render('select');
                              //            //  });
                              //            //  //layui.form.render('select');//延迟重新渲染
                              //            //},10);
                              //            //layui.use(['form'], function () {
                              //            //    form.render();
                              //            //});
                              //            //setTimeout(function () {  
                              //            //  layui.form.render('select');//延迟重新渲染
                              //            //},10);
                              //        }
                              //    )
                              //    .catch(function (error) { // 请求失败处理
                              //        console.log(error);
                              //    });

                          }
                      }
                },
                updated: function () {
                    var _this = this;
                    if(_this.form){
                    _this.form.render();
                    }
                    //this.$nextTick(function () {
                    //    layui.use(['form'], function () {
                    //        form.render();
                    //    });
                    //});
                   
                },
                  watch:{
                   '$route': 'getParams'
                  },
                 // mounted () {
                 //   axios
                 //     .post('http://119.3.179.137:8080/admin/getUserListWithLimit',
                 //           params,)
                 //     .then(
                 //           //response => (this.info = response)
                 //         function (res) {
                 //               console.log(res);
                 //               //if (res.data.code == 1) {
                 //               //    alert("登陆成功");
                 //               //    console.log("登陆成功");
                 //               //}else{
                 //               //    alert("登陆验证失败");
                 //               //    console.log("登陆验证失败");
                 //               //}
					            ////vm.answer = _.capitalize(response.data.answer)
                 //         }
                 //      )
                 //     .catch(function (error) { // 请求失败处理
                 //       console.log(error);
                 //     });
                 // },
               //methods: {
        //            edit(item){
        //               this.$router.push({ path: '/编辑用户.html', params: { user: item } });

        //            },
        //           editUser: function () {
        //                    //const params = new URLSearchParams();
        //                    //params.append('user_id', this.user_id);
        //                    //params.append('password', this.password);
        //               var n = {
        //                  // 'user_id': this.user_id,
        //                   'username': this.username, 'gender': this.select_gender, 'phone': this.phone
        //               };
        //                    //var data = JSON.stringify(n);
        //                    //var data =Qs.stringify(n);
        //                    console.log(n);
        //                    //console.log(params);
        //                    axios.post('http://119.3.179.137:8080/admin/updateUserInfo',
        //                        params,)
        //                    .then(
        //                        function (res) {
        //                            console.log(res);
        //                            if (res.data.code == 1) {
        //                                //alert("编辑失败");
        //                                console.log("编辑成功");
        //                            }else{
        //                                //alert("编辑失败");
        //                                console.log("编辑失败");
        //                            }
				    //	          //vm.answer = _.capitalize(response.data.answer)
        //                        }
        //                    )
				    //        .catch(function (error) {
        //                        console.log(error);
				    //           alert("编辑用户失败！");
				    //          //vm.answer = 'Error! Could not reach the API. ' + error
				    //	           })
				    //    }
				    //}
		    })
    </script>
    </body>

</html>
