<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <link rel="stylesheet" href="./css/cart.css">
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- vue	-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.staticfile.org/vue-router/2.7.0/vue-router.min.js"></script>

</head>

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
                <cite>导航元素</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
            onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
    </div>
    <div class="layui-fluid" id="app">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                    </div>
                    <div class="layui-card-body layui-table-body layui-table-main">
                        <!-- <div id="app"> -->
                        <!-- <h1>购物清单</h1> -->
                        <table>
                            <thead>
                                <tr>
                                    <!-- <td>
                                        <input type="checkbox" v-on:click="selectAll(isSelectAll)">
                                        <label for="all">全选</label>
                                    </td> -->
                                    <td width="200"></td>
                                    <td width="400">商品名称</td>
                                    <td>单价</td>
                                    <td>数量</td>
                                    <td>金额</td>
                                    <td>操作</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in cars" :key="item.id">
                                    <!-- <td>
                                        <input type="checkbox" name="" id="" v-model="item.selected">
                                    </td> -->
                                    
                                    <td>
                                        <!-- <img :src="item.img"> -->
                                        <img v-bind:src="item.image_url">
                                        
                                       <!-- <div class="info">
                                            
                                            
                                            
                                             <p>品牌：{{ item.brand }} 产地：{{ item.origin }}</p>
                                                <p>规格/纯度:{{ item.purity }} 起定量：215千克</p>
                                                <p>配送仓储：{{ item.warehouse }}</p> 
                                        </div>-->
                                    </td>
                                    <td><h6 style="font-size: 16px;">{{ item.name}}</h6></td>
                                    <!-- <td><h6 style="font-size: 16px;">{{ item.book_id}}</h6></td> -->
                                    
                                    <td>{{ item.unit_price }}</td>
                                    <td>
                                        <div class="num"><span v-on:click="edit3(item)">+</span><input type="text"
                                                name="" id="" v-model="item.amount"><span
                                                v-on:click="edit2(item)">-</span></div>
                                    </td>
                                    <td>{{ item.unit_price * item.amount }}</td>
                                    <!-- <td><button v-on:click="deleteNowGoods(index)">删除</button></td> -->
                                    <td><button v-on:click="edit(item)" class="layui-btn layui-btn-danger"><i class="iconfont">&#xe69d;</i></button></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"><button v-on:click="edit4" class="layui-btn layui-btn-danger"><i class="iconfont">&#xe69d;</i>&nbsp;清空购物车</button></td>
                                    <td colspan="4" class="text-right">
                                        {{ getGoodsNums.goodsNum }}&nbsp;件商品(不含运费)：{{ getGoodsNums.goodsPrice }}元
                                        <button class="layui-btn" v-on:click="edit5" style="margin-left: 10px;">&nbsp;&nbsp;&nbsp;结算&nbsp;&nbsp;&nbsp;
                                        </button>
                                    </td>

                                </tr>
                            </tfoot>
                        </table>

                    </div>



                </div>
            </div>
        </div>
    </div>
</body>



<script>
    layui.use(['laydate', 'form'], function () {
        var laydate = layui.laydate;
        var form = layui.form;
    });

</script>

<script>
    Vue.component('todo-item', {

        props: ['item']
    })

    var app = new Vue({
        el: '#app',
        data: {
            cars: [
            ]
        },
        mounted() {
            //this.getList();
            // var storage1 = window.localStorage;
            // var fl_id = storage1.getItem("fenlei_id");
            // var fl_id2 = Number(fl_id);
            // console.log(fl_id);
            // console.log(fl_id2);
            var _this = this;
            const params = new URLSearchParams();
            params.append('user_id', 1);

            // params.append('book_id',31);
            // params.append('amount',2);
            // params.append('unit_price',30);

            //var n = { 'user_id': this.user_id, 'password': this.password };
            //var data = JSON.stringify(n);
            //console.log(n);
            console.log(params);
            console.log(this.cars);
            axios
                .post('http://119.3.179.137:8080/shopping_car/getUserCarInfo',
                    params)
                .then(
                    //response => (this.info = response)
                    function (res) {
                        console.log(res);
                        // console.log(res.data.data.list_size);
                        console.log(res.data.data.car_list);
                        _this.cars = res.data.data.car_list;
                        console.log(_this.cars);
                    }
                )
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
            // axios
            // .post('http://119.3.179.137:8080/shopping_car/addBook',
            //     params)
            // .then(
            //     //response => (this.info = response)
            //     function (res) {
            //         console.log(res);
            //         // console.log(res.data.data.list_size);
            //         // console.log(res.data.data.car_list);
            //         // _this.cars = res.data.data.car_list;
            //         // console.log(_this.cars);
            //     }
            // )
            // .catch(function (error) { // 请求失败处理
            //     console.log(error);
            // });

        },
        router: new VueRouter(),
        methods: {
            selectAll: function (e) {
                console.log(e, this.cars.length);
                for (var i = 0; i < this.cars.length; i++) {
                    this.cars[i].selected = !e;
                }
            },
            deleteGoods: function () {
                //过滤没有被选中的的商品重新赋值到购物车列表
                this.cars = this.cars.filter(function (e) {
                    return !e.selected;
                });
                console.log(this.cars);
            },
            //删除单条商品
            deleteNowGoods: function (index) {
                //根据索引删除list的记录
                this.cars.splice(index, 1);
                console.log(this.cars);
            },
            edit(item) {
                console.log('传参');
                console.log(item);
                if (!window.localStorage) {
                    alert("浏览器不支持localstorage");
                    return false;
                } else {
                    var storage = window.localStorage;
                    storage.setItem("car_item", JSON.stringify(item));
                    console.log(typeof storage["car_item"]);
                }
                //var result = localStorage.getItem('user_item');
                var car = storage.getItem("car_item");
                console.log(car);
                var jcar = JSON.parse(car);
                console.log(jcar);
                // console.log(jcar.user_id);
                console.log(jcar.book_id);
                // console.log(item);
                // console.log(item.role_id);
                const params = new URLSearchParams();
                params.append('user_id', 1);
                params.append('book_id', jcar.book_id);
                console.log(params);
                axios.post('http://119.3.179.137:8080/shopping_car/deleteBook',
                    params,
                )
                    .then(
                        function (res) {
                            console.log(res);
                            if (res.data.code == 1) {
                                console.log("编辑成功");
                                // alert("删除成功");
                                layer.msg("删除成功");
                                location.reload();
                            } else {
                                layui.msg("删除失败");
                            }

                        }
                    )
                    .catch(function (error) {
                        console.log(error);

                    })
                // xadmin.open('编辑', '编辑角色.html', 600, 400);
                //this.$router.push({ path: '/编辑用户.html', params: { user: item } });
                // var storage = window.localStorage;
                // // console.log(this.$route.query);
                // var role = storage.getItem("role_item");
                // //console.log(user);
                // var jrole = JSON.parse(role);
                // console.log(jrole);
                // this.name = jrole.name;
                // this.code = jrole.code;
                // this.description = jrole.description;
                // storage.setItem("role_id", jrole.role_id);
            },
            edit2(item) {//减数量
                console.log('传参');
                console.log(item);
                if (!window.localStorage) {
                    alert("浏览器不支持localstorage");
                    return false;
                } else {
                    var storage = window.localStorage;
                    storage.setItem("car_item", JSON.stringify(item));
                    console.log(typeof storage["car_item"]);
                }
                //var result = localStorage.getItem('user_item');
                var car = storage.getItem("car_item");
                console.log(car);
                var jcar = JSON.parse(car);
                console.log(jcar);
                // console.log(jcar.user_id);
                console.log(jcar.book_id);
                console.log(jcar.amount);
                // console.log(item);
                // console.log(item.role_id);
                var amount = jcar.amount;

                // const params = new URLSearchParams();
                // params.append('user_id',jcar.user_id);
                // params.append('book_id',jcar.book_id);
                // console.log(params);


                if (jcar.amount > 1) {

                    amount = amount - 1;
                    console.log("-----------------");
                    console.log(amount);
                    // alert("1");
                    const params = new URLSearchParams();
                    params.append('user_id', 1);
                    params.append('book_id', jcar.book_id);
                    params.append('amount', amount);
                    params.append('unit_price', jcar.unit_price);
                    console.log(params);
                    axios.post('http://119.3.179.137:8080/shopping_car/addBook',
                        params,
                    )
                        .then(
                            function (res) {
                                console.log(res);
                                if (res.data.code == 1) {

                                    location.reload();
                                } else {
                                    layer.msg("失败");
                                }

                            }
                        )
                        .catch(function (error) {
                            console.log(error);

                        })

                } else {

                    console.log("-----------------");
                    console.log(amount);
                    layer.msg("不能再少了");
                }


            },
            edit3(item) {//加数量
                console.log('传参');
                console.log(item);
                if (!window.localStorage) {
                    alert("浏览器不支持localstorage");
                    return false;
                } else {
                    var storage = window.localStorage;
                    storage.setItem("car_item", JSON.stringify(item));
                    console.log(typeof storage["car_item"]);
                }
                var car = storage.getItem("car_item");
                console.log(car);
                var jcar = JSON.parse(car);
                console.log(jcar);
                delete jcar.name;
                delete jcar.image_url;
                console.log(jcar);
                console.log(jcar.book_id);
                console.log(jcar.amount);
                var amount = jcar.amount;
                amount = amount + 1;
                console.log("-----------------");
                console.log(amount);
                const params = new URLSearchParams();
                params.append('user_id', 1);
                params.append('book_id', jcar.book_id);
                params.append('amount', amount);
                params.append('unit_price', jcar.unit_price);
                console.log(params);
                axios.post('http://119.3.179.137:8080/shopping_car/addBook',
                    params,
                )
                    .then(
                        function (res) {
                            console.log(res);
                            if (res.data.code == 1) {
                                // console.log("编辑成功");
                                // alert("删除成功");
                                location.reload();
                            } else {
                                layer.msg("失败");
                            }

                        }
                    )
                    .catch(function (error) {
                        console.log(error);

                    })

            },
            edit4: function () {//清空

                console.log("-----------------");

                const params = new URLSearchParams();
                params.append('user_id', 1);

                console.log(params);
                axios.post('http://119.3.179.137:8080/shopping_car/clearCar',
                    params,
                )
                    .then(
                        function (res) {
                            console.log(res);
                            if (res.data.code == 1) {

                                location.reload();
                            } else {
                                layer.msg("失败");
                            }

                        }
                    )
                    .catch(function (error) {
                        console.log(error);

                    })

            },
            edit5: function () {//下单

                console.log("-----------------");

                const params = new URLSearchParams();
                params.append('user_id',1);

                console.log(params);
                axios.post('http://119.3.179.137:8080/shopping_car/toOrder',
                    params,
                )
                    .then(
                        function (res) {
                            console.log(res);
                            if (res.data.code == 1) {

                                console.log( res.data.data.order_id);
                                
                                localStorage.setItem("dingdanid",res.data.data.order_id);
                                xadmin.open('收货信息', '收货信息.html', 800, 400);

                            } else {
                                layer.msg("失败");
                            }

                        }
                    )
                    .catch(function (error) {
                        console.log(error);

                    })

            },

        },
        computed: {
            isSelectAll: function () {
                return this.cars.every(function (e) {
                    return e.selected;
                });
            },
            getGoodsNums: function (e) {
                //已选中商品
                var goods = this.cars;
                // .filter(function (e) {
                //     return e.selected;
                // });
                //已选中商品总价格
                var totalGoodsPrice = 0;
                for (var i = 0; i < goods.length; i++) {
                    totalGoodsPrice += goods[i].unit_price * goods[i].amount;
                }
                return {
                    goodsNum: goods.length,
                    goodsPrice: totalGoodsPrice
                }
            }
        }
    })
</script>

</html>