<!DOCTYPE html>
<html class="x-admin-sm">
    
<head>
    <meta charset="UTF-8">
    <title>添加图书</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- vue	-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-router/2.7.0/vue-router.min.js"></script>
    <script type="text/javascript" src="./js/jquery-3.5.0.js"></script>

</head>
    <body>
        <div class="layui-fluid" id="app">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="name" class="layui-form-label">
                            <span class="x-red">*</span>图书名称
                        </label>
                        <div class="layui-input-inline">
                            <input v-model="name" type="text" id="name" name="name" required="" lay-verify="required"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="store_id" class="layui-form-label">
                            <span class="x-red">*</span>店铺
                        </label>
                        <!--<div class="layui-input-inline">
                            <br>
                            <p>{{ order_id }}</p>
                        </div>-->
                        <div class="layui-input-inline">
                            <input v-model="store_id" type="text" id="store_id" name="store_id" required="" lay-verify="required"
                                   autocomplete="off" class="layui-input" disabled="disabled" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="author" class="layui-form-label">
                            <span class="x-red">*</span>作者
                        </label>
                        <div class="layui-input-inline">
                            <input v-model="author" type="text" id="author" name="author" required="" lay-verify="required"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="press" class="layui-form-label">
                            <span class="x-red">*</span>出版社
                        </label>
                        <div class="layui-input-inline">
                            <input v-model="press" type="text" id="press" name="press" required="" lay-verify="required"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="price" class="layui-form-label">
                            <span class="x-red">*</span>价格
                        </label>
                        <div class="layui-input-inline">
                            <input v-model="price" type="text" id="price" name="price" required="" lay-verify="required"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="market_price" class="layui-form-label">
                            <span class="x-red"></span>市场价
                        </label>
                        <div class="layui-input-inline">
                            <input v-model="market_price" type="text" id="market_price" name="market_price" required=""
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="store_mount" class="layui-form-label">
                            <span class="x-red">*</span>库存数量
                        </label>
                        <div class="layui-input-inline">
                            <input v-model="store_mount" type="text" id="store_mount" name="store_mount" required="" lay-verify="required"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span class="x-red"></span>是否上架</label>
                        <div class="layui-input-inline">
                            <select v-model="is_shelf" name="is_shelf">
                                <option v-for="item in roles" v-bind:value="item.role_id" v-model="item.role_id">{{item.name}}</option>
                            </select>
                            <!--                          <input type="text" id="gender" name="gender" required="" lay-verify="phone"-->
                            <!--                          autocomplete="off" class="layui-input">-->
                        </div>
                        <!--                      <div class="layui-input-block">-->
                        <!--                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="超级管理员" checked="">-->
                        <!--                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="编辑人员">-->
                        <!--                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="宣传人员" checked="">-->
                        <!--                      </div>-->
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                        </label>
                        <button class="layui-btn" lay-filter="add" lay-submit="">
                            确&nbsp;&nbsp;&nbsp;&nbsp;认
                        </button>
                        <!-- lay-filter="add" lay-submit="" -->
                    </div>
                </form>
            </div>
        </div>
        <script>
        //    var layer = layui.layer;
        //var form = layui.form;
        //var laydate = layui.laydate;
        //var $ = jQuery = layui.$;
        //    laydate.render({
        //    elem: '#province' //指定元素
        //    });
        layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;


                //自定义验证规则
                form.verify({
                    //nikename: function(value) {
                    //    if (value.length < 5) {
                    //        return '昵称至少得5个字符啊';
                    //    }
                    //},
                    //pass: [/(.+){6,12}$/, '密码必须6到12位'],
                    repass: function(value) {
                        if ($('#L_pass').val() != $('#L_repass').val()) {
                            return '两次密码不一致';
                        }
                    }
                });

                //监听提交
                form.on('submit(add)',
                function (data) {
                    //if (!window.localStorage) {
                    //        alert("浏览器不支持localstorage");
                    //} else {
                    //    var storage = window.localStorage;
                    //    var user_id = storage.getItem("user_id");
                    //    console.log(user_id);
                    //}
                    console.log(data);
                    console.log(data.field);
                    var info = data.field;
                    //info.user_id = user_id;
                    //delete info.role;
                    //delete info.repass;
                    var param = JSON.stringify(info);
                    console.log(param);
                    $.ajax({
                        type: "post",
                        url: "http://119.3.179.137:8080/book/addBook",
                        dataType: "json",
                        contentType:'application/json;charset=UTF-8',
                        data: param,
                        success: function (responseTxt) {
                             console.log(responseTxt);
                            if (responseTxt.code == 1) {
                                //id = responseTxt.data.user_id;
                                //console.log(id);
                                layer.msg("添加成功", { icon: 6 },
                                    function () {
                                    //关闭当前frame
                                    xadmin.close();

                                    // 可以对父窗口进行刷新
                                    //xadmin.father_reload();
                                });
                                //setTimeout("",1000);
                                //关闭当前frame
                                //xadmin.close();
                                // 可以对父窗口进行刷新
                                //xadmin.father_reload();
                            } else {
                                layer.msg("提交出错");
                            }
                        }
                    });
                    //const params = new URLSearchParams();
                    //params.append('user_id', id);
                    //params.append('role_id', getinfo.role);
                    //console.log(params);
                    //发异步，把数据提交给php
                    //layer.alert("添加成功", {
                    //    icon: 6
                    //},
                    //function() {
                    //    //关闭当前frame
                    //    xadmin.close();

                    //    // 可以对父窗口进行刷新
                    //    xadmin.father_reload();
                    //});
                    return false;
                    });
                });
        </script>
        <script>
        var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
</script>

        <script>
            var app = new Vue({
			      el: '#app',
			      data: {
			          username: "",
                      store_id: "",
                      roles: [{ "role_id": "1", "name": '是' }, { "role_id": "0", "name": '否' }],
                  },
                created() {
                      this.getParams();
                        //setTimeout(function () {  
                        //    form.render();//延迟重新渲染
                        //},10); 
                        //this.getParams();
                  },
                  mounted: function () {
                        //setTimeout(function () {  
                        //    form.render();//延迟重新渲染
                        //},10); 
                       // this.getMakerList();
                },
                  updated: function () {
                    var _this = this;
                    if(_this.form){
                    _this.form.render();
                    }
                    //this.$nextTick(function () {
                    //    layui.use(['form'], function () {
                    //        form.render();
                    //    });
                    //});
                   
                },
                  //updated:function(){
                  //     layui.use(['form'], function(){
                  //        form.render();
                  //     })
                  //  },
                  methods: {
                      getMakerList: function (e) {
                          setTimeout(function () {
                            layui.form.render();//延迟重新渲染
                          }, 10);
                        },
                      async getParams() {
                          var storage = window.localStorage;
                          var store_id1 = storage.getItem("store_id");
                          console.log(store_id1);
                          this.store_id = store_id1;
                          //    //localStorage.removeItem("user_item");
                          //    var role_list = JSON.parse(roles);
                          //console.log(role_list);
                          //try {
                                  
                          //        this.roles = role_list;
                          //        setTimeout(function () {
                          //            layui.form.render();//延迟重新渲染
                          //         }, 10);
                          //      } catch (err) {
                          //          console.log(err)
                          //          alert('请求出错！')
                          //      }
                          // 取到路由带过来的参数
                        //console.log("接收参数");
                        //if (!window.localStorage) {
                        //    alert("浏览器不支持localstorage");
                        //} else {
                        //    var storage = window.localStorage;
                        //    // console.log(this.$route.query);
                        //    var user = storage.getItem("user_item");
                        //    //console.log(user);
                        //    var juser = JSON.parse(user);
                        //    console.log(juser);
                        //    this.username = juser.username;
                        //    this.phone = juser.phone;
                        //    this.select_gender = juser.gender;
                        //    this.select_role = '';
                        //    storage.setItem("user_id",juser.user_id);
                        //    //const routerParams = this.$route.query.mallCode
                        //    //// 将数据放在当前组件的数据内
                        //    //this.mallInfo.searchMap.mallCode = routerParams;
                        //    //this.keyupMallName()
                        //}
                    }
                  },
                  watch: {
                   '$route': 'getParams'
                  },
		    })
    </script>
    </body>

</html>
